:root {
  --curve: 1vw;
  --cardColor: rgba(0, 0, 0, 0.75);
  --htmlColor: #252525;
  --textColor: white;
}

html {
  box-sizing: border-box;
  background-color: var(--htmlColor);
  scrollbar-width: thin;
  scrollbar-color: red green;
}

#buttonContainer {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
}

li {
  list-style-type: none;
}

input {
  margin-bottom: 2px;
  height: 2vh;
  width: auto;
  background-color: green;
  color: red;
  font-weight: 1000;
  border-color: red;
  height: 30px;
}

::placeholder {
  opacity: 1 !important;
}

button {
  height: 30px;
  background-color: green;
  color: red;
  font-weight: 1000;
  border-color: red;
  margin-bottom: 2px;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  margin: 3vw;
  width: 20vw;
  padding: 1vw;
  height: auto;
  border-radius: var(--curve);
  background-color: var(--cardColor);
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0.5em 0.5em 1em;
  align-items: center;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--curve);
  align-items: center;
}

.loading {
  text-align: center;
  color: var(--textColor);
}

#filter {
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
  position: absolute;
  background-color: #272727;
  z-index: 1;
  color: var(--textColor);
}

#filterButton.open > #filter {
  border-radius: var(--curve);
  max-height: 30vh;
  overflow-y: scroll;
  scrollbar-color: red green;
  scrollbar-width: thin;
  border-top: green solid 2px;
  border-left: green solid 2px;
  border-bottom: green solid 2px;
  transition: all 0.4s ease-in-out;
}

#filterButton {
  cursor: default;
}

.tag {
  cursor: default;
  margin: 0.2rem;
  color: red;
}

.number {
  color: green;
}

a {
  color: red;
  border-color: red;
  height: 30px;
}