:root {
  --curve: 1vw;
  --cardColor: rgba(0, 0, 0, 0.75);
  --htmlColor: #252525;
}

html {
  box-sizing: border-box;
  background-color: var(--htmlColor);
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3rem;
}

li {
  list-style-type: none;
}

.tag {
  width: auto;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  margin: 3vw;
  width: 20vw;
  padding: 1vw;
  height: auto;
  border-radius: var(--curve);
  background-color: var(--cardColor);
  backdrop-filter: blur(16px) saturate(180%);
  box-shadow: 0.5em 0.5em 1em;
  align-items: center;
}

img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--curve);
  align-items: center;
}

.loading {
  text-align: center;
}
