html {
  box-sizing: border-box;
}

#app {
  background-color: red;
  height: 100px;
  width: 100px;
}

.cats {
  height: 30vh;
}

#buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3rem;
}

li {
  list-style-type: none;
}

.tag {
  width: auto;
  justify-content: center;
}
