#app {
  background-color: red;
  height: 100px;
  width: 100px;
}

.cats {
  height: 30vh;
}

#outerFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

li {
  list-style-type: none;
}